<img class="replay" (click)="ToReplay()"src='../../../assets/sprites/replay.png'/>

<div class="content">
    <div class="player">
        {{this.player_name}}
    </div>
    <img  (click)="ToRnsMap()" class="map1" src='../../../assets/sprites/rennes.png'/>
    <img  (click)="ToBdxMap()"class="map2" src='../../../assets/sprites/bordeaux.png'/>
    <img  (click)="ToRandMap()"class="map3" src='../../../assets/sprites/radom.png'/>
    <img  (click)="ToLFMap()"class="map4" src='../../../assets/sprites/lafleche.png'/>

</div>

