<!-- Affichage des 5 meilleurs joueurs de la map en cours et leurs scores-->
<div class="box">
<div class="content" >
  <div class="player1">{{this.top5score[0].player}}</div>
  <div class="score1">Score : {{this.top5score[0].score}}</div>
  <div class="player2">{{this.top5score[1].player}}</div>
  <div class="score2">Score : {{this.top5score[1].score}}</div>
  <div class="player3">{{this.top5score[2].player}}</div>
  <div class="score3">Score : {{this.top5score[2].score}}</div>
  <div class="player4">{{this.top5score[3].player}}</div>
  <div class="score4">Score : {{this.top5score[3].score}}</div>
  <div class="player5">{{this.top5score[4].player}}</div>
  <div class="score5">Score : {{this.top5score[4].score}}</div>
</div>
</div>