
.content{
    bottom : 50%;
    left: 30%;
    width: 600px;
    height: 700px;

    position: absolute;
    top: 0%;
    background-color: rgba(240, 248, 255, 0);
    background-image: url('../../../assets/sprites/exit_dialog.png');
    background-size: 100% 100%;
    background-position: center;
}
.n1{
    position: relative;
    top: 200px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: bold;
    color: #030303;
    text-shadow: 0px 10px 10px #333533;
}
.n2{
    position: relative;
    top: 300px;
    left:70px;
    font-family: Georgia, serif;
    font-size: 25px;
    font-weight: bold;
    color: #070606;
    text-shadow: 0px 10px 10px #333533;
}
.exit{
    position: relative;
    top: 500px;
    left:240px;
    width: 100px;
    height: 60px;
}