
.content{
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  top: 0%;

  background-image: url("../../../assets/sprites/pierre.png");
  background-size: 100% 100%;
  background-position: center;
}
div {
    --size-cell: 58px;
    --nb-cell: 10;
    --z-rotate: 45deg;
    --x-rotate: 60deg;
  }
  
  .map {
    line-height: 0;
    position: absolute;
    top: 70px;
    left: 40pc;
    transform: translateY(90px) scale(2) rotateX(var(--x-rotate)) rotateZ(var(--z-rotate));
    margin: auto;
    width: calc(var(--size-cell) * var(--nb-cell));
    z-index: 1000;
    background-color: white;
  }
  .tile {
    user-select: none;
    margin: 0 -21px;
    animation: showTile 3s;
    transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
    clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
    text-align: center;
  }

  /* affichage du score de la case qu'on survole*/
  .displayScore{
    position:absolute;
    display: none;
    margin-left: -35px;
    margin-top: 25px;
    transform : rotateZ(-45deg);
    user-select: none;
    z-index: 10;
    color: white;
    text-shadow: #4e4039 2px 2px 3px;
  }
  /*affichage de ce score que lorsqu'on survole une house, fountain... */
  .tile_house:hover + .displayScore{
    display: inline-flex;
    text-align: center;
    opacity: 0.8;

  }
  .tile_fountain:hover + .displayScore{
    display: inline-flex;
    text-align: center;
    opacity: 0.8;
  }
  .tile_circus:hover + .displayScore{
    display: inline-flex;
    text-align: center;
    opacity: 0.8;
  }
  .tile_wind_turbine:hover + .displayScore{
    display: inline-flex;
    text-align: center;
    opacity: 0.8;
  }
   /* affichage des scores des cases voisines*/
   .displayScore2{
    position:absolute;
    display: inline-flex;
    margin-left: -35px;
    margin-top: 25px;
    transform : rotateZ(-45deg);
    user-select: none;
    z-index: 10;
    color: white;
    text-shadow: #4e4039 2px 2px 3px;

  }
  .origin {
      user-select: none;
      margin: 0 -21px;
      transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
      clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
    }
    .origin:hover{
      opacity: 0.8;
    }

    .tile_fountain {
      user-select: none;
      margin: 0 -21px;
      transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
      clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
    }
      .tile_fountain:hover {
        opacity: 0.8;
        cursor:url('../../../assets/fountain.svg'), auto;
      }
      .tile_house {
        position: relative;
        user-select: none;
        margin: 0 -21px;
        transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
        clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
        text-align: center;
      }
        .tile_house:hover {
          opacity: 0.8;
          cursor:url('../../../assets/house.svg'), auto;
        }


        .tile_circus{
          user-select: none;
          margin: 0 -21px;
          transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
          clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
        }
          .tile_circus:hover {
            opacity: 0.8;
            cursor:url('../../../assets/circus.svg'), auto;
          }
      .tile_wind_turbine {
            user-select: none;
            margin: 0 -21px;
            transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
            clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
          }
      .tile_wind_turbine:hover {
              opacity: 0.8;
              cursor:url('../../../assets/wind_turbine.svg'), auto;
            }
            .water {
              user-select: none;
              margin: 0 -21px;
              transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
              clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
            }
              .water:hover {
                cursor:not-allowed;
                opacity: 0.8;
              }
            .tree {
                user-select: none;
                margin: 0 -21px;
                transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
                clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
            }
              .tree:hover {
                  cursor:not-allowed;
                  opacity: 0.8;
              }
              .piece_posee {
                user-select: none;
                margin: 0 -21px;
                transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
                clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
              }
              .piece_posee:hover {
                cursor:not-allowed;
                opacity: 0.8;
              }

    .pieces {
      position: absolute;
      top: 700px;
      left: 20px;
      height:150px;
      width: 500px;
      border: none;
      background-image: url("../../../assets/sprites/tiles_background.png");
      background-size: 100% 100%;
      background-position: center;
      
      text-align: center;
     
    }
    .house{
      position: absolute;
      top: 25px;
      left: 20px;
      margin-left: 10px;
      margin-right: 10px;
      height: 20px;
      width:50px;
      border: none;
      background: none;
      text-align: center;
      
    }
    .house:hover{
      opacity: 0.8;
    }
    .windturbine{
      position: absolute;
      top: 25px;
      left: 130px;
      margin-left: 10px;
      margin-right: 10px;
      height: 20px;
      width:50px;
      border: none;
      background: none;
      text-align: center;
      
    }
    .windturbine:hover{
      opacity:0.8;
    }
    .circus{
      position: absolute;
      top: 25px;
      left: 245px;
      margin-left: 10px;
      margin-right: 10px;
      height: 20px;
      width:50px;
      border: none;
      background: none;
      text-align: center;
     
    }
    .circus:hover{
      opacity:0.8;
    }
    .fountain{
      position: absolute;
      top: 25px;
      left: 355px;
      margin-left: 10px;
      margin-right: 10px;
      height: 20px;
      width:50px;
      border: none;
      background: none;
      text-align: center;
     
    }
    .fountain:hover{
      opacity:0.8;
    }

    .circle{
      position: absolute;
      top:20px;
      left : 20px;
    }
   .classement{
    position: absolute;
    top:20px;
    right : 20px;
    width:150px;
    height:100px;
   }

    .namemap{
    position: absolute;
    top:0px;
    left : 250px;
    width: 350px;
    height:250px;
    background-image: url('../../../assets/sprites/wood.png');
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
    }
   
    .ecriture{
      position: absolute;
      top: 70px;
      left: 110px;
      font-family: Georgia, serif;
      font-size: 35px;
    font-weight: bold;
    color: #f8f8f8;
    text-shadow: 0px 10px 10px #333533;
    }
    .ecriture2{
      position: absolute;
      top: 110px;
      left: 40px;
      font-family: Georgia, serif;
      font-size: 25px; 
    font-weight: bold;
    color: #f8f8f8;
    text-shadow: 0px 10px 10px #333533;
    }
    .edit{
      position: relative;
      top: 105px;
      left: 110px;
      width: 40px;
      height:30px;

    }
    .undo{
      position: absolute;
      top: 90px;
      left: 50px;
      height: 50px;
      width:50px;
      border: none;
      background: none;
      text-align: center;
     
    }
    .redo{
      position: absolute;
      top: 90px;
      left: 150px;
      height: 50px;
      width:50px;
      border: none;
      background: none;
      text-align: center;
     
    }
    .exit{
      position: absolute;
      top: 90px;
      right: 50px;
      height: 50px;
      width:50px;
      border: none;
      background: none;
      text-align: center;
     
    }